.dockItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 5rem !important;
  width: 5rem !important;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.dockItem:hover {
  transform: scale(1.5);
  background-color: #f0f8ff;
  padding: 0.25rem 0.5rem;
}

.dockLabel {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

.dockerLabel:hover {
  color: #111;
}

@media (min-width: 900px) and (max-width: 1600px) {
  .dockItem {
    height: 4rem !important;
    width: 4rem !important;
  }
}

@media (max-width: 600px) {
  .dockItem,
  .dockLabel {
    color: #111;
  }

  .dockItem {
    height: 3rem !important;
    width: 3rem !important;
  }

  .dockItem:hover {
    transform: scale(1);
    color: #111;
    background-color: #1110;
    padding: 0;
  }
}
