.dockItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 5rem !important;
  width: 5rem !important;
  border-radius: 0.25rem;
}

.dockLabel {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

.dockItem > svg {
  transition: all 0.1s ease-in-out;
}

.dockItem > svg:hover {
  transform: translateY(-1rem) scale(1.2);
}

@media (min-width: 900px) and (max-width: 1600px) {
  .dockItem {
    height: 4rem !important;
    width: 4rem !important;
  }
}

@media (max-width: 600px) {
  .dockItem {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}
