.dockWrapper {
  width: 40vw;
  height: 6rem;
  display: flex;
  bottom: 1.5rem;
  position: fixed;
  font-size: 4em;
  cursor: pointer;
  align-self: center;
  align-items: center;
  border-radius: 1rem;
  flex-direction: row;
  background-color: #f0f8ff50;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}


@media (min-width: 1600px) and (max-width: 1900px) {
  .dockWrapper {
    width: 50vw;
  }
}


@media (min-width: 900px) and (max-width: 1600px) {
  .dockWrapper {
    width: 80vw;
    font-size: 4em;
  }
}

@media (max-width: 600px) {
  .dockWrapper {
    width: 95vw;
    font-size: 3em;
    touch-action: none;
    background-color: #f0f8ffF0;
  }
}