.wordItem {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
  user-select: none;
}

.wordWrapper {
  width: 40vw;
  position: absolute;
  pointer-events: none;
}

.test {
  color: #bbc7ee;
  color: #bcb7db;
  color: #b1aacf;
  color: #9da8d5;
  color: #86abd3;
}

@media (min-width: 1600px) and (max-width: 1900px) {

}


@media (min-width: 900px) and (max-width: 1600px) {
  .wordWrapper {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .wordWrapper {
    width: 100vw;
    transform: translateY(-5rem);
  }

  .wordItem {
    font-size: 3em;
  }

}