.typewriter h1 {
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  overflow: hidden;
  border-right: 0.15em solid #ff7b00;
  white-space: nowrap;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation-name: typing, blink-caret;
  animation-duration: 3.5s, 0.75s;
  animation-timing-function: steps(26, end), step-end;
  animation-iteration-count: 1, infinite;
  -webkit-text-stroke: 3px solid #000;
}

.mobileHeader {
  display: none;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  transform: translateY(-3rem);
  filter: drop-shadow(0 0.25rem 0.75rem #ff7b00);
}

.actionButton > a {
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.25rem;
  width: 13rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: 24px;
  filter: contrast(200%);
  border-bottom: solid 3px #ff7b00;
}

.actionButton {
  box-shadow: 0 0 0.75rem #fff;
}

.container {
  z-index: 9;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff7b00;
  }
  100% {
    border-right: 0;
  }
}

@media (max-width: 767px) {
  .typewriter {
    display: none;
  }

  .mobileHeader {
    display: block;
  }

  .actionButton {
    transform: translateY(-2.5rem);
  }
}
