.typewriter h1 {
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem #646464);
  /* border-right: 4px solid #fffffffd; */
  /* white-space: nowrap; */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: slideUp 0.5s;
  /* animation-name: typing, blink-caret;
  animation-duration: 3.5s, 0.75s;
  animation-timing-function: steps(26, end), step-end;
  animation-iteration-count: 1, infinite; */
}

.typewriter > h1:last-child {
  animation-duration: 0.8s;
}

.mobileHeader {
  display: none;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  transform: translateY(-3rem);
  filter: drop-shadow(0 0 0.75rem #646464);
}

.actionButton {
  cursor: pointer;
  /* text-decoration: none; */
  background-color: #36363591;
  border-radius: 0.25rem;
  border: none;
  width: 13rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.container {
  z-index: 9;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes slideUp {
  from {
    transform: translateY(3rem)
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fffffffd;
  }
  100% {
    border-right: 0;
  }
}

@media (max-width: 767px) {
  .typewriter h1 {
    margin: 0 auto;    
  }

  .typewriter {
    transform: translateY(-3rem);
  }


}
