.dockItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFF;
  margin: 0;
  padding: 0;
  border-radius: 0.25rem;
  transition: all .3s ease-in-out;
}

.dockItem:hover {
  transform: scale(1.5);
  color: #111;
  background-color: #f0f8ff;
  padding: 0.25rem 0.5rem;
}

.dockLabel {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 600px) {
  .dockItem, .dockLabel {
    color: #111;
  }

  .dockItem:hover {
    transform: scale(1);
    color: #111;
    background-color: #1110;
    padding: 0;
  }
}