.wrapper {
  height: 50vh;
  width: 100vw;
  display: flex;
  padding: 2rem 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  animation-play-state: running;
  touch-action: pan-x;
  will-change: contents;
}

.slide {
  margin: 0 1rem;
  border-radius: 1rem;
  height: 100%;
  width: auto;
  display: inline-block;
}

.track {
  height: 50vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  will-change: transform;
  animation: marqueeAnimation 5s ease-in-out alternate infinite;
  animation-play-state: inherit;
}

.backup {
  height: 50vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  will-change: transform;
  animation: backupAnimation 5s ease-in-out alternate infinite;
  animation-play-state: inherit;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes backupAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
