.wrapper {
  height: 50vh;
  width: 100vw;
  display: flex;
  padding: 2rem 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: unset;
}

.slide {
  margin: 0 1rem;
  border-radius: 1rem;
  display: inline-block;
  will-change: scroll-position;
}

.track {
  animation-name: marqueeAnimation;
  animation-timing-function: inherit;
  animation-duration: inherit;
  animation-direction: inherit;
  animation-iteration-count: inherit;
  height: inherit;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.backup {
  animation-name: marqueeAnimation;
  animation-timing-function: inherit;
  animation-duration: inherit;
  animation-direction: inherit;
  animation-iteration-count: inherit;
  height: inherit;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
