.wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: hidden;
  animation-duration: 10s;
}

.slide {
  max-height: calc(80vh - 4rem);
  margin: 0 1rem;
  border-radius: 1rem;
  display: block;
}

.track {
  height: 100%;
  width: fit-content !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  animation: marquee 10s infinite linear;
  animation-duration: inherit;
  /* background-color: #4f4; */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
