.wrapper {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border: none;
  cursor: pointer;
  z-index: 3;
  background-color: #eee;
}

.chevron {
  height: 1rem;
  width: 1rem;
  border-top: 0.25rem solid #444;
  border-left: 0.25rem solid #444;
  transform: rotate(-45deg) translate3d(15%, 15%, 0);
}
