.nook {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.nookItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

@media (min-width: 1600px) and (max-width: 1900px) {
  .nook {
    margin-bottom: 8rem;
  }
}

@media (min-width: 900px) and (max-width: 1600px) {

}

@media (max-width: 600px) {
  .nook {
    justify-content: space-around;
    height: auto;
    width: 100vw;
  }

  .nookItem {
    margin: 0.5rem;
    transform: scale(0.9);
  }
}
