.header {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #ff7b00;
}

.subHeader {
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #ff7b00;
}

.article {
  flex: 1;
  margin: 0 auto;
  font-weight: 300;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
  text-align: left;
  justify-content: flex-start;
}

.container {
  margin-top: 1rem;
  width: 80%;
}

.image {
  height: auto;
  width: 25vw;
  margin: 0.25rem;
}

.level {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.levelItem {
  width: 50%;
}

@media (min-width: 1600px) and (max-width: 1900px) {
  .header {
    font-size: 3.5rem;
  }

  .subHeader {
    font-size: 3rem;
  }
}

@media (min-width: 900px) and (max-width: 1600px) {
  .header {
    font-size: 3rem;
  }

  .subHeader {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    padding: 0 2rem;
  }

  .article > p span {
    text-align: center;
  }

  .header {
    font-size: 2.5rem;
  }

  .subHeader {
    font-size: 1.7rem;
    text-align: center;
  }

  .level {
    flex-direction: column;
    justify-content: flex-start;
  }

  .level:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .levelItem {
    width: 100%;
    position: relative;
    display: inline-flex;
    align-self: stretch;
  }

  .image {
    width: 90vw;
  }
}
